---
layout: default
title: Home
---
<style>
body {
  background-color: #ffffff
}
</style>
<div class="row">
  <div class="column" style="text-align: center;">
    <script>
      var video=document.getElementById("trailer");
      video.volume=0.5;
    </script>
    <iframe id="trailer" style="padding: 50px;" width="640px" height="360px" src="https://www.youtube.com/embed/XXksTHX56l8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="column">
    <div style="padding-left: 100px; padding-right: 100px;">
      <div style="text-align: center;"><h2>A show for finding what matters by exploring the details!</h2></div>
      <p>A revealing show steeped in Pop Culture (...Mostly Movies and Shows). Every week host Cameron Boozarjomehri (and his gaggle of co-hosts) take a topic you love, investigate its most overlooked details, and explore the fun and fascinating ways those details impact the big picture.</p>
      <p>Exciting? You bet! Convoluted? Probably! Informative? ...We hope!</p>
      <p>If you have topics you'd like us to explore, <a href="mailto:smallstuffshow@gmail.com">email us</a> or reach out on Twitter with <a href="https://twitter.com/smallstuffshow">#smallstuffshow</a></p>
    </div>  
  </div>
</div>

<br>

<h1>Hosts</h1>

<hr>

<br>

<h1>Episodes</h1>

<hr>

<br>

<iframe frameborder="0" width="100%" height="4000px" scrolling="no" allowfullscreen="true" src="https://sweating-the-small-stuff.pinecast.co"></iframe>

<!-- {% for post in paginator.posts %}

<article>
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
</article>

{% endfor %} -->

<!-- Pagination links -->
<!-- <div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-button pagination-active next" href="{{ site.github.url }}{{ paginator.next_page_path }}">{{ site.data.settings.pagination.previous_page }}</a>
  {% else %}
    <span class="pagination-button">{{ site.data.settings.pagination.previous_page }}</span>
  {% endif %}

  {% if paginator.previous_page %}
    <a class="pagination-button pagination-active" href="{{ site.baseurl }}{{ paginator.previous_page_path }}">{{ site.data.settings.pagination.next_page }}</a>
    {% else %}
      <span class="pagination-button">{{ site.data.settings.pagination.next_page }}</span>
  {% endif %}
</div> -->
